/* styles.css */
.summa1 {
  width: 100vw;  /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e; /* Dark background for better contrast */
  width: 90%;
  height: 90%;
}
root{
  background-color: #1e1e1e;
}
